/*
  *** TODO: fill in your header ***
  INSERT YOUR NAME HERE
  INSERT THE CURRENT DATE HERE

  Name: Susan Yang
  Date: June 28th, 2019
  Section: CSE 154 AB

  This is the style.css file for my creative project 1, which has an about page and a portfolio page
  It is used for both pages in the peoject to achieve a consitent look and feel.

  WRITE A 1-3 SENTENCE SHORT FILE DESCRIPTION HERE
*/

/* Remember: This body ruleset is to get you started, but does not count towards the
   CP requirements! */
body {
  background-color: lightgray;
  font-family: serif;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

header {
    font-size: 18px;
    padding: 8px;
}

nav {
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: slategray;
  padding-top: 60px;
  font-size: 18px;
  width: 185px;
}

ul {
  list-style-type: none;
  padding: 5px;
}

li.nav{
  background-color: lightgray;
  padding: 5px;
}

body {
  margin-left: 210px;
  padding: 7px;
}

p.citaion{
  font-size: 14px;
}

p#welcome, footer{
  font-size: 18px;
}

img {
  height: 280px;
  margin: 5px;
  padding: 5px;
  background-color: gray;
}

img.vertical{
  height: 340px;
}

body#error{
  padding-top: 100px;
}
